
body{
    background-color: white;
    height: 100vh;
    width: 100%;
}
.customTypography{
    

}
.button_enroll{
    width: 75%;
}
.button_enroll:hover{
    
background-color: rgb(41, 6, 240));
color: black;
}
.title_class{
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
letter-spacing: 1rem;
font-size: 33px;

}
.main_card{
    background-color: rgb(246, 231, 209);
}